name: Deploy to Amazon ECR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Deploy Code to Target Directory
      run: |
        sudo rm -rf /home/ubuntu/myapp
        mkdir -p /home/ubuntu/myapp
        rsync -av --exclude='.git' ./ /home/ubuntu/myapp/

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build Docker image
      run: |
        cd /home/ubuntu/myapp/myapp
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 654654483947.dkr.ecr.us-east-1.amazonaws.com
        sudo docker build -t ammar/devops .

    - name: Push image to Amazon ECR
      run: |
        sudo docker tag ammar/devops:latest 654654483947.dkr.ecr.us-east-1.amazonaws.com/ammar/devops:latest
        sudo docker push 654654483947.dkr.ecr.us-east-1.amazonaws.com/ammar/devops:latest