name: Deploy to Amazon ECR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Authenticate with ECR
      id: login-ecr
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 654654483947.dkr.ecr.us-east-1.amazonaws.com

    - name: Build and Tag Docker Image
      run: |
        docker build -t ammar/devops .
        docker tag ammar/devops:latest 654654483947.dkr.ecr.us-east-1.amazonaws.com/ammar/devops:latest

    - name: Push Image to Amazon ECR
      run: |
        docker push 654654483947.dkr.ecr.us-east-1.amazonaws.com/ammar/devops:latest


